<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Herramienta SGC</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Bienvenido a la Herramienta SGC</h1>
    <p>Seleccione la norma que desea aplicar:</p>
    <div class="button-group">
      <a href="{{ url_for('iso9001') }}" class="btn iso9001">ISO 9001</a>
      <a href="/iso27001" class="btn iso27001">ISO 27001</a>
    </div>
  </div>
</body>
</html>
