<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>ISO 9001</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <h2>ISO 9001</h2>
    <p>Selecciona una sección:</p>

    <div class="button-group-iso9001">
      <a href="{{ url_for('dashboard') }}" class="btn inicio">Inicio</a>
      <a href="#" class="btn">Objetivos</a>
      <a href="#" class="btn">Beneficios</a>
      <a href="#" class="btn">Ciclo PHVA</a>
      <a href="#" class="btn">Organización</a>
      <a href="#" class="btn">Liderazgo</a>
      <a href="#" class="btn">Planificación</a>
      <a href="#" class="btn">Apoyo</a>
      <a href="#" class="btn">Operación</a>
      <a href="#" class="btn">Desempeño</a>
      <a href="#" class="btn">Mejora</a>
    </div>

    <a href="{{ url_for('dashboard') }}" class="btn logout">Regresar</a>
  </div>
</body>
</html>
